/* shared */
*{
    margin: 0;
    padding: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 12.5px 16px;
    border: none;
    border-radius: 6px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 19;
    font-weight: 600;
}

/* main */

header{
    background: url("B13-A01-Knowledge-Vault/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: 0px 65px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16 120 16 120;
}
nav .menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 32px;
}
#banner {
    padding: 115px 120px 179px 120px;
}
#banner .banner-content{
    text-align: center;
}
#banner .banner-content .btn1{
    padding: 8px 12px 8px 34px;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 20;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
#banner .banner-content h1{
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.h1-2ndpart{
    color: #30B868;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.btn-sb{
    background-color: #30B868;
    padding: 16px;
    border-radius: 5px;
    border: none;
}
.btn-sh{
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 5px;
    border: none;
}
#qoute{
    padding-top: 70px;
}
#qoute .qoute-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
#qoute .qoute-container .qoute-heading h2{
    font-size: 48px;
    font-weight:bold ;
    margin-bottom: 16px;
    line-height: 100%;
    color: #001931;
}
#qoute .qoute-container .qoute-heading p{
    font-size: 16px;
    font-weight:400 ;
    margin-bottom: 20px;
    line-height: 44px;
    color: #627382;
}

#qoute .qoute-container .q-card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.q-card .card{
    padding: 24px;
    border: 1px solid red;
    max-width: 322px;
}
.card img{
    padding: 10px;
    max-width: 25px;
    margin-bottom: 16px;
    background-color: #F95555;
    border-radius: 50%;
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #001931;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #627382;
}
#info{
    padding: 120px;
}
#info .info-container{
    display: flex;
}
#info .info-container .brain-img{
    max-width: 600px;
}
#info .info-container .info-content .for-pos{
    margin: 102px 0px 102px 60px;
}
#info .info-container .info-content .for-pos h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
}
#info .info-container .info-content .for-pos h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    color: #001931;
    margin-bottom: 16px;
}
#info .info-container .info-content .for-pos p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
#info .info-container .info-content .li-content img{
    width: 20px;
    height: 20px;
}
#info .info-container .info-content .li-content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}

#info .info-container .info-content .li-content{
    display: flex;
    margin-bottom: 16px;
}
#last-info{
    padding: 4px 120px 120px 120px;
}
#last-info .cntnt{
    padding: 80px 40px 80px 40px;
    background-color: #F7F6F2;
}
#last-info .cntnt .heading {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
#last-info .cntnt .btn1 {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
#last-info .cntnt .heading h3{
    font-size: 40px;
    font-weight: bold;
    line-height: 100%;
    color: #001931;
    margin-bottom: 16px;
}
#last-info .cntnt .heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

#last-info .cntnt .btn1 button{
    color: #FFFFFF;
    background-color: #30B868;
    padding: 16.5px 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
    cursor: pointer;
}
#last-info .cntnt .btn1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

#tag{
    background-color: #001931;
}
#tag .footer-container .content{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 120px 120px 80px 120px;
}
#tag .footer-container .hl{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
#tag .footer-container .content .img{
    margin-right: 1010px;
    margin-bottom: 4px;
}
#tag .footer-container .content .links h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}
hr{
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#tag .footer-container .hl{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
}
