/* shared */
*{
    margin: 0;
    padding: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 12.5px 16px;
    border: none;
    border-radius: 6px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 19;
    font-weight: 600;
}

/* main */

header{
    background: url("B13-A01-Knowledge-Vault/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: 0px 65px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16 120 16 120;
}
nav .menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 32px;
}
#banner {
    padding: 115px 120px 179px 120px;
}
#banner .banner-content{
    text-align: center;
}
#banner .banner-content .btn1{
    padding: 8px 12px 8px 34px;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 20;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
#banner .banner-content h1{
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.h1-2ndpart{
    color: #30B868;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.btn-sb{
    background-color: #30B868;
    padding: 16px;
    border-radius: 5px;
    border: none;
}
.btn-sh{
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 5px;
    border: none;
}